@{
    ViewBag.Title = "Панель управления сайтом > Организаии";
}
<ul class="breadcrumb">
    <li>@Html.ActionLink("Панель управления сайтом", "Index", "SiteAdmin")</li>
    <li class="active">Организаии</li>
</ul>
aaa