@{ Layout = "~/Areas/SiteAdmin/Views/Shared/_Empty_modal.cshtml";}
@{
    ViewBag.Title = "Подтверждение сброса пароля";
}

<p>Ваш пароль сброшен. @Html.ActionLink("Щелкните здесь для входа", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
